body {
  background-color: #ffa3d1;
  font-family: Chistoso, sans-serif;
}

h1 {
  color: #fbf4cc;
  letter-spacing: 3px;
}

h2 {
  color: #FCEBFA;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  background: #FCEBFA;
  color: #ee23a9;
  padding: 12px;
  font-size: 1rem;
  margin: 15px;
}

.link:hover {
  background: #fbf4cc;
}

/* ol {
  font-family: "Gill Sans Display MT Pro Bold", sans-serif;
} */

a {
  color: #ee23a9;
  text-decoration: none;
}

/* a:hover {
  color: #fbf4cc;
} */
