body {
  background-color: #CAF5FF;
  margin-left: 170px;
  text-align: justify;
}

p {
  font-family: serif;
  color: #7b27a2;
  width: 500px;
  font-size: 17px;
  word-spacing: 2px;
}

h1 {
  font-family: serif;
  font-style: italic;
  text-shadow: 2px 2px #BBBBBB;
  text-align: right;
  width: 500px;
  font-size: 36px;
  padding-top: 100px;
}

h2 {
  font-family: serif;
  font-style: italic;
  font-size: 26px;
}

h3 {
  margin-bottom: 6px;
  font-size: 20px;
}

ol {
  color: #9370db;
  width: 420px;
  font-size: 16px;
}

ul {
  color: #9370db;
  width: 500px;
  font-size: 16px;
}

img{
  width: 150px;
  float: left;
}

a {
  font-family: sans-serif;
  color: #7b68ee;
}

a:hover {
  color: #CAF5FF;
  background-color: #7b68ee;
}

.column {
  float: left;
}

.fauxnav {
  float: right;
  list-style-type: none;
  margin: 170px 60px 0px 0px;
  padding: 0px;
}

.vinea {
  width: 140px;
  padding-top: 15px;
  padding-bottom: 0px;
  float: right;
}

.vineb {
  width: 400px;
  padding-top: 15px;
}
