* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  background: #83cdf1;
  font-size: 1.2rem;
}

button:hover {
  background: #4999c1;
}

button:active {
  background: rgb(238, 191, 165);
}

.stylin {
  background: rgb(238, 191, 165);
  height: 100vh;
  width: 400px;
  position: fixed;
  top: 0;
  right: -400px;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  transition: right .4s ease;
}

.active {
  right: 0px;
}
